################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


__pycache__/
*.py[cod]
*$py.class
# Jupyter Notebook
.ipynb_checkpoints

*.pth
*.so
*.o

# Apple directory 
*.DS_Store

# IDE
*.idea/

.spyproject/workspace.ini
demo/aadconfig.py
demo/apiconfig.py
demo/CameraTrapAssets
.webassets-cache/
demo/static/uploads
demo/static/results
