__pycache__
*weights/*
*processed.*
*output*
*flagged*
*temp*
PytorchWildlife.egg-info/
*dev*
*test*
*setup/*
*dist/*
*VSCodeCounter*
*build/*
*bee*
*Bee*
*debug*
*annotations.csv
*cropped_resized*
*log*
*.ckpt
*.pt
*.pth
*.cache
*.pem
PW_FT_detection/runs/
site/
demo/demo_data/
PW_FT_detection/data/
PW_FT_classification/data/
demo/folder_separation/
