azure-storage-blob=1.5.0
colorsys
humanfriendly==4.17
joblib==0.12.0
jsonpickle==1.2
matplotlib==2.2.2
pandas=0.23.4
Pillow==6.0.0
tensorflow==1.12.0
tqdm==4.19.5
scikit-image==0.13.1
scikit-learn==0.19.1