torch
torchvision
torchaudio
tqdm
Pillow
supervision==0.23.0
gradio
chardet
wget
ultralytics
yolov5
setuptools
scikit-learn
timm
mkdocs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
pymdown-extensions
mkdocstrings
mkdocstrings-python