__include__: [
  '../dataset/megadetector_detection.yml',
  './include/rtdetrv2_r50vd.yml',
]


PResNet:
  depth: 18
  freeze_at: -1
  freeze_norm: False
  pretrained: True


HybridEncoder:
  in_channels: [128, 256, 512]
  hidden_dim: 256
  expansion: 0.5


RTDETRTransformerv2:
  num_layers: 3