<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>V8N7vxvIXIVMARjoh9X2tVnXfPmUZVPLPnTIM+vwAy2R4cCM5SUBvqAma7LswAXPbrTBBHpgmUDbA5gaHhB9X0chT/SbvOgaST+OUWCV6h4T+fJbk3inh4JO+XE/jDcrYJXxkVhp3B5uNyuJVWRk/2SahliUA1Hp3AWZzBDhPlOSztgJYtqBCZIHuj9QIajstexXVC7CSpczPrfNy3Tb4ZHWt86L/xLFiIDE/r01gfxo/QadQClD6/7SQrvZRcPVTkNegjXkwgcZOz6fnVQeyj9O/yILOHk3HjO3vArfIk/RWtY5JVyxRmw4aRbV6ej1mhxopr0K8ZJSH6DwZLYWKg==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>Aj23BmHyt8L+8RaGZ3RmhuQ3s5+ua2pPCp1/uoNksaAePtnvvuNGBjWLX6m9p8KbJVwsyXJBjrS9jk19TPc4gJVRLJCZvXC4iVB45egUb9bIoB0E/erRykgskejMmVyjmS8lehIhO99oOezM8X8kvgXb+OMTQ/zG79T3k4GD8uUxqgfPgcWKD34Zq2rs35foZbg85mbIb8GPXM/P6I0F9h3LhItZodwq7+xtWSTmc2kSPt5wZk0UqIaGAEuh4fMrn/MKUpVsDkgkGmFiQMQoKg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>