{% extends "layout.html" %}
{% block font_Color_1 %}text-black{% endblock %}
{% block font_Color_2 %}text-black{% endblock %}
{% block font_Class_1 %}color-black{% endblock %}
{% block font_Class_2 %}color-black{% endblock %}
{% block font_Class_3 %}color-black{% endblock %}
{% block active_1 %}non-active{% endblock %}
{% block active_2 %}non-active{% endblock %}
{% block active_3 %}active{% endblock %}
{% block ai4e_title_showhide %}ai4e_title_show {% endblock %}
{% block display_white_logo %} hide_white_logo {% endblock %}

{% block camera_logo %}CameraTrapAssets/img/camera-grey.svg{% endblock %}
{% block microsoft_logo %}<img src="CameraTrapAssets/img/microsoft-logo-grey.svg" alt="microsoft logo" />
{% endblock %}

{% block body %}
<div class="container-fluid" style="display:block">
    <div class="row pt-5 no-spacing mt-5">
        <div class="col-sm-12 col-md-12 col-lg-9 col-12">
            <div class="d-flex no-d-flex">
                <div class="col-sm-12 col-md-12 col-lg-2 col-12 p-0 ml-5 mr-5 resp-m-0 text-center">
                    <img src="/CameraTrapAssets/img/elephant.svg" alt="animal" class="ml-5" />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-10 p-0 ml-5 mr-5 resp-m-0">
                    <div class="mb-0">
                        <div class="d-flex no-d-flex">
                            <div class="pb-5">
                                <p class="custm-gery-2 letter-spacing-1 font-size14 mt-2">
                                    This demo runs a detector model that was trained to find animals
                                    in camera trap images.The code used to train this model is <a href="https://github.com/Microsoft/cameratraps" class="underline">available on GitHub</a>,
                                    and most of the data used to train this model is available at our open data repository, <a href="http://lila.science" class="underline">lila.science</a>.</p>
                                <p class="custm-gery-2 letter-spacing-1 font-size14 mt-2">
                                    This is just a prototype,
                                    but we believe we can help conservation biologists
                                    who are faced with the challenge of eliminating vast
                                    numbers of empty images from their camera trap data sets.
                                    We are also looking for collaborators are we move toward
                                    species identification models.
                                    If you are interested in working with us on either of these problems,
                                    if you have data you’d like to contribute,
                                    or if you are an application developer interested in building other systems on top
                                    of this model,
                                    please contact us at <a href="mailto:cameratraps@microsoft.com" class="underline">cameratraps@microsoft.com</a>.
                                </p>
                                <p class="custm-gery-2 letter-spacing-1 font-size14 mt-2">
                                    The API runs on the <a href="https://github.com/Microsoft/AIforEarth-API-Development"
                                        class="underline">AI for Earth API backend</a>,
                                    which makes it easy for anyone working on machine learning
                                    for sustainability and environmental science to turn their models
                                    into APIs and Web-based applications. If you’re working in this space and you need
                                    cloud computing resources to bring your work to life,
                                    check out our
                                    <a href="https://www.microsoft.com/en-us/ai-for-earth/grants" class="underline">
                                        AI for Earth grants program</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}