{% extends "layout.html" %}

{% block font_Color_1 %}text-white{% endblock %}
{% block font_Color_2 %}text-white{% endblock %}
{% block font_Color_3 %}text-dark{% endblock %}
{% block body_class %}landing-page{% endblock %}
{% block font_Class_1 %}text-white{% endblock %}
{% block font_Class_2 %}text-white{% endblock %}
{% block font_Class_3 %}text-white{% endblock %}
{% block Menu_Color_1 %}text-dark{% endblock %}
{% block Menu_Color_2 %}text-dark{% endblock %}
{% block Menu_Color_3 %}text-dark{% endblock %}
{% block ai4e_title_showhide %}ai4e_title_hide {% endblock %}

{% block camera_logo %}CameraTrapAssets/img/camera.svg{% endblock %}
{% block microsoft_logo %}<img src="CameraTrapAssets/img/microsoft-logo-grey.svg" alt="microsoft logo" class="hm-logo-grey" />
<img src="CameraTrapAssets/img/microsoft-logo.svg" alt="microsoft logo" class="hm-white-logo" />
{% endblock %}

{% block body %}
<section class="container-fluid p-0 position-fixed w-100">
    <div class="bg-img">
      <div class="vh-100 position-relative left-23 left-sm-0">
        <div class="position-relative top-42 bottom-50 mb-0 mobile-top">
            <h1 class="display-3 letter-spacing-7 font-biryani resp-title">
              <span class="font-weight-bold mobile-title text-white">CAMERA </span><span class="custm-gery-1 font-weight-normal">TRAP</span>
            </h1>
            <a class="btn border-radius-19 px-5 text-center yellow-bg letter-spacing-3 color-black font-weight-bold" href="{{url_for('upload')}}" role="button">TRY IT</a>
        </div>
      </div>
    </div>
</section>
{% endblock %}
