
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Camera Trap API</title>
        {% assets "css_all" %}
		    <link rel="stylesheet" href="{{ ASSET_URL }}"> 
        {% endassets %}
	<link href="https://fonts.googleapis.com/css?family=Biryani:200,400,600,700,800" rel="stylesheet">
        {{ dropzone.load_css() }}
        {{ dropzone.style('border: 2px dashed #C5BBB8; border-radius: 8px; 
                          background-color:rgba(202,193,193,0.1); 
                          min-height: 380px !important; text-align:center;') }}
        
    </head>
    <body class="{% block body_class %}{% endblock %} vh-100">
            <nav class="navbar navbar-expand-lg bg-transparent pl-4 z-index-999">
               <div class="d-flex align-items-center logo-container">
     
		 <a class="navbar-brand d-flex mr-2 ms-logo-container" href="https://www.microsoft.com">
                  {% block microsoft_logo %}{% endblock %}
                  <span class="{% block font_Color_1 %}{% endblock %} logo-divider">|</span>
                </a>
                <a class="{% block font_Color_2%}{% endblock %}  aie-link letter-spacing-1" href="https://www.microsoft.com/en-us/aiforearth"> AI for Earth</a>
      		</div>
		<button class="navbar-toggler bg-white border" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   			 <span class="navbar-toggler-icon"></span>
 		 </button>
               <div class="navbar-collapse justify-content-between collapse navbar-collapse mb-view" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto h4 ml-5 navitems-mob d-flex justify-content-center">
                    <li class="nav-item font-biryani mr-5">
                      <a class="nav-link letter-spacing-1 font-size12 {% block active_1 %}{% endblock %} {% block font_Class_1 %}{% endblock %}" 
                      href="{{ url_for('upload') }}">UPLOAD <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item font-biryani pr-5">
                      <a class="nav-link letter-spacing-1  font-size12 {% block active_2 %}{% endblock %}
                      {% block font_Class_2 %}{% endblock %}" href="{{ url_for('gallery') }}">GALLERY</a>
                    </li>
                    <li class="nav-item font-biryani">
                      <a class="nav-link letter-spacing-1 {% block active_3 %}{% endblock %}
                       font-size12 {% block font_Class_3 %}{% endblock %}" href="{{ url_for('about') }}">ABOUT</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav mr-5 {% block ai4e_title_showhide %}{% endblock %}">
                          <li class="nav-item font-biryani">
                              <a class="nav-link letter-spacing-1 font-size14 text-black " href="{{ url_for('about') }}">AI FOR EARTH CAMERA TRAP API</a>
                          </li>
                    </ul>                  
                </div>              
              </nav>	        
           <div id="overlay">
            <div class="loading" style="visibility: hidden"></div>
          </div>
          {% block body -%}{%- endblock %}
          {{ dropzone.load_js() }}
          {{ dropzone.config(custom_init='dz = this; 

              dz.on("error", function(file, message){
                FileUploadErrors(message)
              }),
              
              dz.on("uploadprogress", function(a, uploadPercentage){
                $(".dz-progress").remove();

                percentage = Math.round(uploadPercentage)
                
                $("#progress-msg").show()
                $("#progress-msg").html("Upload progress: " + percentage + "%")
                
                if(uploadPercentage == 100){
                   $("#progress-msg").html("Processing images...");
                }
              }),

              dz.on("maxfilesexceeded", function(file){
                  dz.removeFile(file)
              }),

              dz.on("sending", function(file, xhr, formData) {
                // Will send the filesize along with the file as POST data.
                

              }),
             
             
              dz.on("addedfiles", function(fileList){ 
                  $(".loading").css("visibility", "visible")
                  $("#overlay").show()
                  <!-- dz.files -->  
              })', max_files=10, timeout = 180000000) }}
    

            {% assets "js_all" %}
  		        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            {% endassets %}
         
    </body>
</html>